<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
  <style>
    form{
            

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
            color: navy;
        }
  </style>
</head>
<body>

<form action="login" method="POST">
  {% csrf_token %}
     <label>Username</label>
     <input type="text" name="username" placeholder="enter the username here "><br>
     <label>Password</label>
     <input type="password" name="password" placeholder="enter the password here "><br>
     <button type="submit" value="Submit">Login</button>

    </form>
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
</body>
</html>
